.list-menu {
  position: absolute;
  width: 350px;
  height: 100vh;
  margin-left: 75px;

  .notebook-header {
    padding: 25px 25px 10px 25px;
    border-bottom: 1px solid #eee;

    h2 {
      color: #333;
      font-weight: 400;
      text-transform: uppercase;
    }
    span {
      color: #666;
      font-size: 14px;
    }
  }

  .notebook {
    padding: 10px 25px;
    border-bottom: 1px solid #eee;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
  }
  .notebook:hover {
    color: white;
    background: #2185d0;
  }
  .notebook:last-child {
    border: none;
  }
}
