.sidebar {
  position: absolute;
  width: 75px;
  height: 100vh;
  background: #eee;
  border-right: 1px solid #ddd;
  z-index: 1;

  .create-note-button {
    position: absolute;
    top: 150px;
    left: 25px;
  }
  .notes-button {
    position: absolute;
    top: 200px;
    left: 25px;
  }
  .notebooks-button {
    position: absolute;
    top: 250px;
    left: 25px;
  }
  .logout-button {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }
  .create-note-button:hover,
  .notes-button:hover,
  .notebooks-button:hover {
    cursor: pointer;
  }
}
